  background:     #{{base00-hex}}FF;
  background-alt: #{{base01-hex}}FF;
  foreground:     #{{base05-hex}}FF;
  selected:       #{{base0D-hex}}FF;
  active:         #{{base0B-hex}}FF;
  urgent:         #{{base08-hex}}FF;
