# Main Colors
unrecognized_file: "#{{base08-hex}}"
recognized_file:   "#{{base0C-hex}}"
executable_file:   "#{{base09-hex}}"
dir:               "#{{base0A-hex}}"

# Link
dead_link: "#{{base08-hex}}"
link:      "#{{base0D-hex}}"

# special files
socket:    "#{{base0C-hex}}"
blockdev:  "#{{base0C-hex}}"
chardev:   "#{{base0C-hex}}"

# Access Modes
write:     "#{{base0E-hex}}"
read:      "#{{base0F-hex}}"
exec:      "#{{base06-hex}}"
no_access: "#{{base08-hex}}"

# Age
day_old:      "#{{base04-hex}}" 
hour_old:     "#{{base05-hex}}"
no_modifier:  "#{{base06-hex}}"

# File Size
file_large:   "#{{base09-hex}}"
file_medium:  "#{{base0A-hex}}"
file_small:   "#{{base0B-hex}}"

# Random
report: "#{{base0C-hex}}"
user:   "#{{base0D-hex}}"
tree:   "#{{base0E-hex}}"
empty:  "#{{base0F-hex}}"
error:  "#{{base08-hex}}"
normal: "#{{base09-hex}}"
inode:  "#{{base0A-hex}}"

# Git
addition:     "#{{base0C-hex}}"
modification: "#{{base0A-hex}}"
deletion:     "#{{base08-hex}}"
untracked:    "#{{base03-hex}}"
unchanged:    "#{{base04-hex}}"
