ACCENT_BG={{base0D-hex}}
ARC_TRANSPARENCY=True
ARC_WIDGET_BORDER_COLOR={{base00-hex}}
BASE16_GENERATE_DARK=False
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{base00-hex}}
BTN_BG={{base03-hex}}
BTN_FG={{base07-hex}}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG={{base01-hex}}
CARET2_FG={{base01-hex}}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{base01-hex}}
GRADIENT=0.0
GTK3_GENERATE_DARK=True
HDR_BG={{base02-hex}}
HDR_BTN_BG={{base05-hex}}
HDR_BTN_FG={{base01-hex}}
HDR_FG={{base05-hex}}
ICONS_ARCHDROID={{base0D-hex}}
ICONS_DARK={{base03-hex}}
ICONS_LIGHT={{base0C-hex}}
ICONS_LIGHT_FOLDER={{base0C-hex}}
ICONS_MEDIUM={{base0D-hex}}
ICONS_NUMIX_STYLE=0
ICONS_STYLE=papirus
ICONS_SYMBOLIC_ACTION={{base03-hex}}
ICONS_SYMBOLIC_PANEL={{base00-hex}}
MATERIA_PANEL_OPACITY=0.6
MATERIA_SELECTION_OPACITY=0.32
MATERIA_STYLE_COMPACT=True
MENU_BG={{base04-hex}}
MENU_FG={{base01-hex}}
NAME="flavours"
OUTLINE_WIDTH=1
ROUNDNESS=3
SEL_BG={{base0D-hex}}
SEL_FG={{base00-hex}}
SPACING=2
SPOTIFY_PROTO_BG={{base04-hex}}
SPOTIFY_PROTO_FG={{base01-hex}}
SPOTIFY_PROTO_SEL={{base0D-hex}}
SURUPLUS_GRADIENT1=9fa4ad
SURUPLUS_GRADIENT2=5294e2
SURUPLUS_GRADIENT_ENABLED=False
TERMINAL_ACCENT_COLOR=5294e2
TERMINAL_BACKGROUND=303641
TERMINAL_BASE_TEMPLATE=tempus_summer
TERMINAL_COLOR0=2f3b4c
TERMINAL_COLOR1=ff7e7d
TERMINAL_COLOR10=66bc56
TERMINAL_COLOR11=cca429
TERMINAL_COLOR12=90a5f7
TERMINAL_COLOR13=d88de6
TERMINAL_COLOR14=39b8c5
TERMINAL_COLOR15=afbabd
TERMINAL_COLOR2=5dbb7c
TERMINAL_COLOR3=bea919
TERMINAL_COLOR4=6faee9
TERMINAL_COLOR5=db93bc
TERMINAL_COLOR6=4cbaa4
TERMINAL_COLOR7=a0a9c8
TERMINAL_COLOR8=443e58
TERMINAL_COLOR9=fa8a5c
TERMINAL_FOREGROUND=d3dae3
TERMINAL_THEME_ACCURACY=128
TERMINAL_THEME_AUTO_BGFG=False
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=smarty
THEME_STYLE=arc
TXT_BG={{base06-hex}}
TXT_FG={{base01-hex}}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{base0D-hex}}
WM_BORDER_UNFOCUS={{base04-hex}}
